<IfModule mod_headers.c>
    <FilesMatch "\.(html|js|css|webmanifest)$">
        Header set Cache-Control "no-cache, no-store, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </FilesMatch>
</IfModule>

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /taranim/
    RewriteRule ^api/live$ api.php?action=live [L,QSA]
    RewriteRule ^api/songs$ api.php?action=songs [L,QSA]
    RewriteRule ^api/song/(.*)$ api.php?action=song&id=$1 [L,QSA]
</IfModule>
